.ex-menu-area {
    margin-left: auto;
    margin-right: 24px;
    margin-top: 72px;
    z-index: 100;
}

.ex-menu-panel {
    background-color: #000000CC;
    min-width: 240px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 12px;
}

.ex-menu-item {
    padding: 8px;
    border-radius: 8px;
}

.ex-menu-item.ex-menu-item-active {
    background-color: #1987FFCC;
    box-shadow: 0 0 10px 0 #1987FFCC;
}