/* Provider */
.spectrum_b37d53 {
    background-color: #00000000;
}

/* Block */
.cc-panel {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
}


#background {
    background-image: url('../res/Bc.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.spectrum-Textfield-input_73bc77,
.spectrum-ActionButton_e2d99e {
    background-color: rgba(0, 0, 0, 0.3);
}

.text-ellip {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}