/* Main */
html {
    background-color: #007AFF;
}

body {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
span,
footer,
section,
input,
.spectrum-Menu-sectionHeading_7ea47c,
.spectrum-Textfield-input_73bc77:lang(zh-Hans),
.spectrum-Textfield-input_73bc77:lang(zh) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-content {
    height: 100%;
    width: 100%;
}

.background {
    background-color: #080808;
}

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.overflow-hide {
    overflow: hidden;
}

.inline {
    display: inline;
}


.point-through {
    pointer-events: none;
}
.point-auto {
    pointer-events: auto;
}
.absolute-position {
    position:absolute;
}


/* Margins */
.ml-auto,
.mx-auto,
.m-auto {
    margin-left: auto;
}

.mr-auto,
.mx-auto,
.m-auto {
    margin-right: auto;
}

.mt-auto,
.my-auto,
.m-auto {
    margin-top: auto;
}

.mb-auto,
.my-auto,
.m-auto {
    margin-bottom: auto;
}

/* Reaction */
.forbidden-drag {
    -webkit-user-drag: none;
}
.forbidden-select {
    user-select: none;
    -webkit-user-select: none;
}

/* Text */
.ex-footer {
    opacity: 0.7;
}

.nowrap {
    white-space: nowrap;
}
.word-force-warp{
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap !important;
}

/* Ex Shadow */
.ex-block,
.ex-shadow {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.ex-menu {
    box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.3);
}

/* radius */
.radius-medium {
    border-radius: var(--spectrum-alias-border-radius-medium);
}
.radius-regular {
    border-radius: var(--spectrum-alias-border-radius-regular);
}


/* 九宫格 */
.grid-background {
    background-size: 22px 22px;
    background-image: repeating-conic-gradient(#505050 0% 25%, transparent 0% 50%);
}

.grid-line {
    background-image: linear-gradient(to bottom, transparent 0%, transparent 39%, #1473E6 40%, #1473E6 60%, transparent 61%, transparent 100%);
}
.grid-line:hover {
    background-image: linear-gradient(to bottom, #1473E6 0%, #1473E6 62%, transparent 0%);
}

/* 进度条 */
@keyframes indeterminate-loop-ltr {
    0% {
        transform: translate(-136px, 0px)
    }
    to {
        transform: translate(476px, 0px)
    }
}
.progress-bar-loop {
    position: relative;
    width: var(--spectrum-barloader-large-indeterminate-fill-width, var(--spectrum-global-dimension-size-1700));
    background: var(--spectrum-barloader-large-track-fill-color, var(--spectrum-global-color-blue-500));
    animation: indeterminate-loop-ltr 1.6s ease-in-out infinite;
    height: var(--spectrum-barloader-large-height, var(--spectrum-global-dimension-size-75))
}



/* Spectrum */
.spectrum-Underlay_eb7615 {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.spectrum-Image-img_fdc794 {
    /* height: auto; */
    width: 100%;
    max-width: 100%;
    display: block
}